body {
  margin: 0px 40px;
  background-color: #4178BE;
  /* Typography Declarations */
  color: #FEFEFE;
  font-size: 1em;
  font-family: "Avenir Next", "Verdana", sans-serif;
}

.intro h1 {
  text-align: center;
  font-size: 3em;
}

.intro h2 {
  text-align: center;
  font-size: 2em;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.img-intro { 
  height: 640px;
  width: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-me {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-me h2 {
  text-align: center;
  font-size: 2em;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.img-linkedin { 
  height: 640px;
  width: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.disclaimer {
  display: block;
  text-align: center;
}

.disclaimer li {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
  font-family: "Avenir Next", "Verdana", sans-serif;
  line-height: 25px;
}

.banana {
  height: 50px;
  width: 50px;
}

.paths {
  display: block;
  text-align: center;
}

.paths li {
  display: inline-block;
  text-align: center;
  background-color: #FFB948;
  font-size: 1.75em;
  font-family: "Avenir Next", "Verdana", sans-serif;
  height: 100px;
  width: 300px;
  line-height: 100px;
  max-width: 100%;
  border-radius: 300px;
  margin: 40px;
}

.paths a {
  text-decoration: none;
  font-weight: 400;
}
